{
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "objectWrap": "preserve",
    "tabWidth": 4,
    "printWidth": 120,
    "jsxSingleQuote": true
}
